@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.nav-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration-line: none;
  color: #ffffff;
  font-family: inherit;
  text-align: center;
}

.image-welcome {
  background-color: #b48888;
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  width: 1200px;
  margin: 0 auto;

}

.logo-main {
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 82px;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  margin: 0 auto;


}

.navigation-item {
  display: block;
  background-color: #756157;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-left: auto;

}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  margin: 0;
  margin-right: 237px;
  padding: 0;
  padding-right: 62px;
  width: 390px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;

}

.nav-user {
  display: flex;
  list-style-type: none;
  width: 264px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  align-items: center;
}

.nav-user .nav-link {

  /*задает высоту 106рх, почему?*/
  min-height: 0;
  min-width: 42px;
}

.navigation-link {
  width: 160px;
  height: 37px;

}

.main-index {
  text-align: center;
}




.advantages {
  color: #000000;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;

}

.advantages-box {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: auto;

}

.advantages-town {
  width: 400px;
}


.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.advantages-image {
  display: block;
}

.advantages-description {
  margin: auto;
  height: 63px;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}



.interested {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 63px;
  margin-bottom: 31px;
  width: 620px;
  margin-left: 290px;
  margin-right: 290px;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 90px;
}

.search-interested {
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-text {
  margin-bottom: 56px;

}

.subscription-index {
  background-image: url("../images/background.jpg");
  color: #ffffff;
  background-size: cover;
  padding-top: 94px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration-line: none;
  font-style: normal;
  color: #000000;
  width: 331px;
}

.inner-header {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  background-color: #273511;
  color: #ffffff;
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
}

.inner-header-title {
  padding: 0;
  margin: 0;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration-line: none;
}

.infrastructure-filter {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.filter-hotel {
  margin: 70px;
  margin-top: 35px;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.infrastructure {
  list-style-type: none;
}

.type-housing {
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  width: 300px;
}
.hotel-card-link {
  grid-column: 1/-1;
}
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3,340px);
  margin: 0 auto;
  padding: 0;
  column-gap: 18px;
  list-style-type: none;
  margin-bottom: 66px;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-throw-off {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-hotel {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  background-color: #ffffff;
}

.hotels-found {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  margin-top: 50px;
  margin-left: 72px;
  margin-right: 71px;
  margin-bottom: 56px;
  padding: 0;
}

.select-control {
  font-family: inherit;
  width: 290px;
  margin-right: 78px;
  margin-left: 191px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.sorting .button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration-line: none;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}


.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}



.subscription-catalog {
  padding-top: 94px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.hotel-card-title-link {
  grid-column: 1/-1;
  text-decoration-line: none;
}

.pagination-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 0;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;

}

.pagination-link {
  margin-right: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #82B3D3;
  background: #F2F2F2;
  color: #000000;
  text-decoration-line: none;
}

.hotels-page {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 175px;
  padding: 0;
  margin-left: 262px;
  margin-right: 51px;
  margin-top: 20px;
  margin-bottom: 17px;
}
.select-control-page {
  display: flex;
  margin-right: auto;
  padding: 14px 20px;
  width: 160px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.field {
  font-family: inherit;
}

.search-hotel {
  background-color: #756157;
  width: 574px;
  height: 60px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 93px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.newsletter-text {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.town-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1200px;

}



.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 142px;
  min-height: 40px;
  list-style-type: none;
  color: #000000;
  background-color: #82B3D3;
}



.control-input {
  font-family: inherit;
}

.button-apply {
  background: #82B3D3;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}

.hotel-card-buttom-detailed {
  background: #756157;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}

.hotel-card-buttom-favorites {
  background: #82B3D3;
  border-radius: 4px;
  width: 140px;
  height: 37px
}

.villass-button {
  background: #7DB54F;
}


.newsletter-button {
  background: #82B3D3;
  height: 60px;
  width: 200px;

}





.page-footer {
  display: flex;

  margin: 0 auto;

}

.page-footer {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
